.Container{
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 1rem;
}
.containerItem{

    height: auto;
    width: auto;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content:space-between;
    margin: .5rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    flex-flow: row wrap;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
}
.containerItem:hover{
    background-color: #fafafa;
}
.containerItem > a{
    color: #333;
    text-decoration: none;
}
.containerItem > button{
    border: none;
    background-color: transparent;

}
.Item{
    margin: 1rem;
}
.author{
    color:#999;
}
.Icon{
    font-size: 23px;
    color: #c53030;
    transition: all .2s ease-in-out;
}
.Icon:hover{
    transform: scale(1.5);
}