
.Layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    width: 100%;
}
.Container{
    margin-top: 12vh;
    min-width: 90%;
    min-height: 100vh;
    border-radius: 25px;
    background-color: #fff;
}

